<form method="post" action="{{ path('admin_metal_maiden_delete', {'attireSlug': metal_maiden.attireSlug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metal_maiden.attireSlug) }}">
	<button class="btn btn-danger">{{ 'label.delete'|transchoice(0)|capitalize }}</button>
</form>