{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}Edit MetalMaiden{% endblock %}

{% block body %}
    <h1>Edit MetalMaiden</h1>

    {{ include('admin/metal_maiden/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_metal_maiden_index') }}">back to list</a>

    {{ include('admin/metal_maiden/_delete_form.html.twig') }}
{% endblock %}