{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}New MetalMaiden{% endblock %}

{% block body %}
	<h1>{{ 'admin.metal_maiden.new.main_title'|trans }}</h1>

	{{ include('admin/metal_maiden/_form.html.twig') }}

	<div class="d-inline-block mt-2">
		<a href="{{ path('admin_metal_maiden_index') }}"><button class="btn">{{ 'label.back_to_list'|trans }}</button></a>
	</div>
{% endblock %}