<form method="post" action="{{ path('metal_maiden_delete', {'id': metal_maiden.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metal_maiden.id) }}">
    <button class="btn">Delete</button>
</form>