{% extends 'base.html.twig' %}

{% block title %}New MetalMaiden{% endblock %}

{% block body %}
    <h1>Create new MetalMaiden</h1>

    {{ include('metal_maiden/_form.html.twig') }}

    <a href="{{ path('metal_maiden_index') }}">back to list</a>
{% endblock %}