{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}New Nation{% endblock %}

{% block body %}
	<h1>{{ 'admin.nation.new.main_title'|trans }}</h1>

	{{ include('admin/nation/_form.html.twig') }}

	<div class="d-inline-block mt-2">
		<a href="{{ path('admin_nation_index') }}"><button class="btn">{{ 'label.back_to_list'|trans }}</button></a>
	</div>
{% endblock %}