{% extends 'base.html.twig' %}

{% block title %}New Nation{% endblock %}

{% block body %}
    <h1>Create new Nation</h1>

    {{ include('admin/nation/_form.html.twig') }}

    <a href="{{ path('admin_nation_index') }}">back to list</a>
{% endblock %}