{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}Edit AttireCategory{% endblock %}

{% block body %}
	<h1>Edit AttireCategory</h1>

	{{ include('admin/attire_category/_form.html.twig', {'button_label': 'Update'}) }}

	<div class="d-inline-block mt-2 mb-4">
		<a href="{{ path('admin_attire_category_index') }}"><button class="btn d-inline-block">{{ 'label.back_to_list'|transchoice(0)|capitalize }}</button></a>
	</div>
	
	{{ include('admin/attire_category/_delete_form.html.twig') }}
{% endblock %}