{% extends 'base.html.twig' %}

{% block title %}New AttireCategory{% endblock %}

{% block body %}
	<h1>{{ 'admin.attire_category.new.main_title'|trans }}</h1>

	{{ include('admin/attire_category/_form.html.twig') }}

	<div class="d-inline-block mt-2">
		<a href="{{ path('admin_attire_category_index') }}"><button class="btn">{{ 'label.back_to_list'|trans }}</button></a>
	</div>
{% endblock %}